<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>IoT-LS - Меню</title>
  <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='Menu_Standart.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vk_keyboard.css') }}">
</head>
<body>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #121212;
      color: rgb(255, 255, 255);
    }

    .theme-toggle {
      position: fixed;
      bottom: 15px;
      left: 15px;
      width: 40px;
      height: 40px;;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      text-shadow: 0 0 10px #00daae, 0 0 20px #00c9a1, 0 0 30px #005645;
    }

    .theme-toggle:hover {
      transform: scale(1.1);
    }
  </style>
  <div class="login-container">
    <h2>Меню</h2>
    <br>
    <button onclick="controlLighting()">Управление подсветкой</button>
    <button onclick="controlPC()">Управление пк</button>
    <button onclick="Weather()">Погода</button>
    <button onclick="Note()">Заметки</button>
    <button onclick="Desktop_wall()">Рабочий стол</button>
    <button onclick="RedirectDocumentation()">Документация</button>
    <button onclick="logout()">Выйти</button>
    
  </div>

<div class="text_down" >IoT-LS V1.0.0 (Realese)<br><a id="theme-name">Standart v1 | By FireTIA</a></div>

<div class="theme-toggle" onclick="toggleStyle()">🔄</div>

<script src="{{ url_for('static', filename='vk_keyboard.js') }}"></script>
<script>

    function RedirectDocumentation() {
      window.location.href = '/Open_Documentation';
    }

    // Функция для управления подсветкой
    function controlLighting() {
      //alert("Переход к управлению подсветкой");
      window.location.href = "/RGB_Control.html"; // Раскомментируйте для перехода
    }

    // Функция для управления ПК
    function controlPC() {
      //alert("Переход к управлению ПК");
      window.location.href = "/Pc_control.html"; // Раскомментируйте для перехода
    }
    
    // Функция для выхода из системы
    function logout() {
      
      window.location.href = "/logout"; // Раскомментируйте для перехода
    }
    // Функция для погоды
    function Weather() {
      
      window.location.href = "/weather"; // Раскомментируйте для перехода
    }
    // Функция для заметок
    function Note() {
      
      window.location.href = "/Note.html"; // Раскомментируйте для перехода
    }
    // Функция для обоев рабочих столов
    function Desktop_wall() {
      window.location.href = "/Wall_Desktop.html"
    }


function toggleStyle() {
    let theme = document.getElementById("theme-style");
    let themeToggle = document.querySelector(".theme-toggle");
    let themeName = document.getElementById("theme-name");

    if (theme.getAttribute("href").includes("Menu_Standart.css")) {
        themeName.textContent = "CrystalTheme v1 | By FireTIA";
        theme.setAttribute("href", "{{ url_for('static', filename='Menu_Crystal.css') }}");
        localStorage.setItem("theme-page-menu", "Menu_Crystal.css");
    } else {
        themeName.textContent = "Standart v1 | By FireTIA";
        theme.setAttribute("href", "{{ url_for('static', filename='Menu_Standart.css') }}");
        localStorage.setItem("theme-page-menu", "Menu_Standart.css");
    }
}

window.onload = function () {
    let savedTheme = localStorage.getItem("theme-page-menu");
    let theme = document.getElementById("theme-style");
    let themeToggle = document.querySelector(".theme-toggle");
    let themeName = document.getElementById("theme-name");

    if (savedTheme) {
        theme.setAttribute("href", "{{ url_for('static', filename='') }}" + savedTheme);
        
        if (savedTheme.includes("Menu_Crystal.css")) {
            themeName.textContent = "CrystalTheme v1 | By FireTIA";
        } else {
            themeName.textContent = "Standart v1 | By FireTIA";
        }
    }
};

</script>

</body>
</html>
